SpotWelder - PCB/fp-info-cache
SpotWelder - PCB/SpotWelder - PCB-backups/
SpotWelder - PCB/SpotWelder - PCB.dsn
SpotWelder - PCB/SpotWelder - PCB.kicad_prl
SpotWelder - PCB/SpotWelder - PCB.kicad_sch-bak
SpotWelder - PCB/SpotWelder - PCB.rules
SpotWelder - PCB/SpotWelder - PCB.ses
SpotWelder - PCB/~SpotWelder - PCB.kicad_sch.lck
